<div class="container">
  <h1>Hello Binance!</h1>
  <button phx-click="get_status">Retrieve status</button>
  <p>Status: <%= @status_msg %></p>
  <p>Server Clock: <%= Calendar.strftime(@date, "%H:%M:%S") %></p>
</div>
