<div class="container">
  <h1>Hello Binance!</h1>
  <p>Status: <%= @status_msg %></p>
  <p>Server Clock: <%= Calendar.strftime(@now, "%H:%M:%S") %></p>
</div>

<div class="container">

  <p> TODO: Web UI for https://binance-docs.github.io/apidocs/spot/en/#all-coins-39-information-user_data </p>

</div>